<%- include("./partials/head"); %>
<%- include("./partials/nav"); %>
<%- include("./partials/newMessage"); %>

<main class="page-404">
    <h1>404</h1>
    <p>Uh oh, we can't find the page you're looking for</p>
    <a href="/">Go Home</a>
</main>

<%- include("./partials/footer"); %>