<%- include("./partials/head"); %>
<%- include("./partials/nav"); %>
<%- include("./partials/newMessage"); %>

<main class="content about-page">
    <h1>About this site</h1>

    <p>Created for the Odin project using NodeJS and MongoDB.</p>
</main>

<%- include("./partials/footer"); %>