<%- include("./partials/head"); %>
<%- include("./partials/nav"); %>

<main class="content">
    <%- include("./partials/newMessage") %>
    <h1>About us</h1>
</main>

<%- include("./partials/footer"); %>