@font-face {
    font-family: "poor-story";
    src: url("../fonts/poorstory-regular-webfont.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "poor-story";
    src: url("../fonts/poorstory-regular-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "quicksand";
    src: url("../fonts/quicksand-variablefont_wght-webfont.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "quicksand";
    src: url("../fonts/quicksand-variablefont_wght-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

body {
    background-color: #ddeff5;
    display: flex;
    flex-direction: column;
    font-family: "quicksand", sans-serif;
    height: 100vh;
    letter-spacing: 3px;
    max-width: 2000px;
}

// --------------------- Partials --------------------- //

nav {
    align-items: center;
    background-color: #3a3a3a;
    box-shadow: -3px -3px 20px rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    flex-direction: row;
    padding: 20px 30px;


    .nav-title {
        font-family: "poor-story", sans-serif;
        font-weight: bold;

        p {
            font-size: 16px;
        }

        h1 {
            font-size: 32px;
        }
    }

    ul {
        display: flex;
        font-weight: bold;
        flex-direction: row;
        gap: 30px;
        margin-left: auto;

        li {
            border-bottom: 3px solid transparent;
            padding: 5px;

            transition: ease-in .2s;
            -webkit-transition: ease-in .2s;
            -o-transition: ease-in .2s;
            -moz-transition: ease-in .2s;

            &:hover, &:focus {
                border-bottom: 3px solid #fff;
                transform: scale(1.1);
            }
        }
    }
}

.new-message-a {
    border: 2px solid #3a3a3a;
    border-radius: 5px;
    color: #3a3a3a;
    display: grid;
    font-size: 24px;
    font-weight: bold;
    height: 30px;
    place-content: center;
    position: absolute;
    right: 15px;
    top: 103px;
    width: 30px;

    p {
        margin-left: 2px;
    }
}

footer {
    color: #3a3a3a;
    display: grid;
    font-weight: bold;
    place-content: center;
    margin-top: auto;
    padding: 20px;

    a {
        transition: ease-in .2s;
        -webkit-transition: ease-in .2s;
        -o-transition: ease-in .2s;
        -moz-transition: ease-in .2s;

        &:hover {
            font-weight: bold;
            transform: scale(1.1);
        }
    }
}

// --------------------- main --------------------- //

main {
    display: flex;
    flex-direction: column;
    margin: 0 5vw;
    padding: 20px 5vw;
    position: relative;
}

// --------------------- home --------------------- //

.home-main {
    align-items: center;
    gap: 50px;
    margin: auto 0;

    .home-messages-link {
        border: 2px solid #3a3a3a;
        display: inline-block;
        font-family: "poor-story", sans-serif;
        padding: 8px 12px;

        transition: ease-in .2s;
        -webkit-transition: ease-in .2s;
        -o-transition: ease-in .2s;
        -moz-transition: ease-in .2s;

        &:hover {
            box-shadow: 2px 2px 2px #3a3a3a;
            transform: translate(-2px, -2px);
        }
    }
}

.home-title {
    font-family: "poor-story", sans-serif;
    p {
        font-size: 64px;
    }

    h1 {
        font-size: 128px;
    }
}

.home-p {
    font-size: 18px;
    line-height: 1.5;
    width:  calc(min(80%, 850px));

    span {
        font-family: "poor-story", sans-serif;
        font-weight: bold;
    }
}

// ------------------- messages ------------------ //

.message-main {
    h1 {
        // font-family: "poor-story", sans-serif;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
    }
}

.message-feed {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.message-single {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;

    div {
        align-items: center;
        display: flex;
        gap: 10px;

        &.message-info {
            justify-content: end;
        }
    }

    .avatar > svg {
        height: 30px;
        width: 30px;
    }

    .message-author {
        font-weight: bold;
    }

    .message-content {
        line-height: 1.5;
        text-indent: 5px;
    }

    .message-info > p {
        font-size: 14px;
        font-weight: bold;
    }
}

// --------------- new message form -------------- //

.new-message-page {
    align-items: center;
    color: #3a3a3a;
    gap: 20px;

    h1 {
        font-size: 24px;
        font-weight: bold;
    }

    form {
        display: flex;
        flex-direction: column;

        button[type=submit] {
            font-family: "poor-story", sans-serif;
            font-size: 24px;
            font-weight: bold;
            margin: 10px 0 0 auto;
        }
    }
}

.form-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    position: relative;
    width: calc(min(80vw, 700px));

    label { margin-bottom: 8px; }

    input, textarea {
        letter-spacing: 1.3px;
        padding: 5px 8px;
        resize: none;
    }

    .info-button {
        display: grid;
        place-content: center;
        border: 2px solid #3a3a3a;
        border-radius: 10px;
        height: 20px;
        width: 20px;
        position: absolute;
        right: 0;
        top: 0;
    }

}

// -------------------- about -------------------- //

.about-page {
    gap: 20px;
    text-align: center;

    h1 {
        font-size: 24px;
        font-weight: bold;
    }
}

// --------------------- 404 --------------------- //

.page-404 {
    padding: 50px 0;
    text-align: center;
    h1 {
        font-family: "poor-story", sans-serif;
        font-size: 98px;
        font-weight: bold;
        padding: 40px;
    }

    p {
        font-size: 22px;
    }

    a {
        font-family: "poor-story", sans-serif;
        font-size: 24px;
        padding: 20px;
    }
}