@font-face {
    font-family: "poor-story";
    src: url("../fonts/poorstory-regular-webfont.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "poor-story";
    src: url("../fonts/poorstory-regular-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "quicksand";
    src: url("../fonts/quicksand-variablefont_wght-webfont.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "quicksand";
    src: url("../fonts/quicksand-variablefont_wght-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

body {
    background-color: #ceecf5;
    display: flex;
    flex-direction: column;
    font-family: "quicksand", sans-serif;
    height: 100vh;
    letter-spacing: 3px;
    width: calc(min(100vw, 2000px));
}

// --------------------- Partials --------------------- //

nav {
    align-items: center;
    background-color: #3a3a3a;
    box-shadow: -3px -3px 20px rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    flex-direction: row;
    padding: 20px 30px;


    .nav-title {
        font-family: "poor-story", sans-serif;
        font-weight: bold;

        p {
            font-size: 16px;
        }

        h1 {
            font-size: 32px;
        }
    }

    ul {
        display: flex;
        font-weight: bold;
        flex-direction: row;
        gap: 30px;
        margin-left: auto;

        li {
            border-bottom: 3px solid transparent;
            padding: 5px;

            transition: ease-in .2s;
            -webkit-transition: ease-in .2s;
            -o-transition: ease-in .2s;
            -moz-transition: ease-in .2s;

            &:hover {
                border-bottom: 3px solid #fff;
                transform: scale(1.1);
            }
        }
    }
}

.new-message-a {
    position: absolute;
}

footer {
    color: #3a3a3a;
    display: grid;
    font-weight: bold;
    place-content: center;
    margin-top: auto;
    padding: 20px;

    a {
        transition: ease-in .2s;
        -webkit-transition: ease-in .2s;
        -o-transition: ease-in .2s;
        -moz-transition: ease-in .2s;

        &:hover {
            font-weight: bold;
            transform: scale(1.1);
        }
    }
}

// --------------------- main --------------------- //

main {
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
}

// --------------------- home --------------------- //

.home-main {
    align-items: center;
    gap: 50px;
    margin: auto 0;
}

.home-title {
    font-family: "poor-story", sans-serif;
    p {
        font-size: 64px;
    }

    h1 {
        font-size: 128px;
    }
}

.home-p {
    font-size: 18px;
    width:  calc(min(80%, 850px));

    span {
        font-family: "poor-story", sans-serif;
        font-weight: bold;
    }
}

// --------------------- 404 --------------------- //

.page-404 {
    padding: 50px 0;
    text-align: center;
    h1 {
        font-family: "poor-story", sans-serif;
        font-size: 98px;
        font-weight: bold;
        padding: 40px;
    }

    p {
        font-size: 22px;
    }

    a {
        font-family: "poor-story", sans-serif;
        font-size: 24px;
        padding: 20px;
    }
}